<svg class="app__splash-screen-logo" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
     viewBox="0 0 333.9 260.3" style="enable-background:new 0 0 333.9 260.3;" xml:space="preserve">
<style type="text/css">
	.st0{fill:#27265F;}
  .st1{fill:#FFFFFF;}
  .st2{fill:#0099FF;}
  .st3{fill:#F49021;}
  .st4{clip-path:url(#SVGID_2_);fill:#F05A2B;}
  .st5{fill:#6E6F71;}
  .st6{clip-path:url(#SVGID_6_);fill:#6E6F71;}
  .st7{clip-path:url(#SVGID_6_);fill:#0099FF;}
  .st8{clip-path:url(#SVGID_6_);fill:#FFFFFF;}
  .st9{clip-path:url(#SVGID_8_);fill:#F05A2B;}
  .st10{opacity:0.22;fill:#FFFFFF;}
  .st11{clip-path:url(#SVGID_12_);fill:#F05A2B;}
  .st12{clip-path:url(#SVGID_16_);fill:#F05A2B;}
  .st13{clip-path:url(#SVGID_20_);fill:#F05A2B;}
  .st14{clip-path:url(#SVGID_24_);fill:#F05A2B;}
  .st15{clip-path:url(#SVGID_28_);fill:#F05A2B;}
  .st16{clip-path:url(#SVGID_32_);fill:#F05A2B;}
  .st17{fill:#CCCBCB;}
  .st18{clip-path:url(#SVGID_36_);fill:#CCCBCB;}
  .st19{clip-path:url(#SVGID_36_);fill:#0099FF;}
  .st20{clip-path:url(#SVGID_36_);fill:#FFFFFF;}
</style>
  <g>
			<g>
        <g>
            <clipPath id="SVGID_4_">
						<use xlink:href="#SVGID_21_"  style="overflow:visible;"/>
					</clipPath>
				</g>
			</g>
		</g>
</svg>

<h1 class="splash-screen__title">
  <span class="splash-screen__title-color">COVID-19</span>
</h1>

